In [4]:
import pandas as pd

In [5]:
df_reviews = pd.read_csv('IMDB Dataset.csv')
df_reviews

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [7]:
df_positive = df_reviews[df_reviews['sentiment']=='positive'][:9000]
df_negative = df_reviews[df_reviews['sentiment']=='negative'][:1000]

In [13]:
print(df_positive.value_counts('sentiment'))
print(df_negative.value_counts('sentiment'))

sentiment
positive    9000
Name: count, dtype: int64
sentiment
negative    1000
Name: count, dtype: int64

In [16]:
# Make imbalanced dataframe

df_reviews = pd.concat([df_positive, df_negative])
df_reviews

                                                 review sentiment
0     One of the other reviewers has mentioned that ...  positive
1     A wonderful little production. <br /><br />The...  positive
2     I thought this was a wonderful way to spend ti...  positive
4     Petter Mattei's "Love in the Time of Money" is...  positive
5     Probably my all-time favorite movie, a story o...  positive
...                                                 ...       ...
2000  Stranded in Space (1972) MST3K version - a ver...  negative
2005  I happened to catch this supposed "horror" fli...  negative
2007  waste of 1h45 this nasty little film is one to...  negative
2010  Warning: This could spoil your movie. Watch it...  negative
2013  Quite what the producers of this appalling ada...  negative

[10000 rows x 2 columns]